.card{
    margin-top: 30px;
    border: 1px solid #000000;
    height: 306px;
    width:  486px;
    display: table; 
    border-radius: 5px 5px 5px 5px;
    
}
.cardName{
    /* border: solid; */
    margin-top: 10px;
    margin-left: 5px;
    height: 43px;
    font: 22px Arial, sans-serif
}
.cardBirthday{
    /* border: solid; */
    height: 43px;
    font: 18px Arial, sans-serif
}
.cardRegistry{
    /* border: solid; */
    height: 43px;
    font: 18px Arial, sans-serif;
    width: 60%;
}
.cardCpf{
    /* border: solid; */
    height: 43px;
    font: 18px Arial, sans-serif;
    width: 60%;
}
.cardRg{
    /* border: solid; */
    height: 43px;
    font: 18px Arial, sans-serif;
    width: 60%;
}
.cardInstituition{
    /* border: solid; */
    height: 43px;
    font: 20px Arial, sans-serif
}
.cardDataExpedicao{
    /* border: solid; */
    height: 43px;
    font: 18px Arial, sans-serif;
    width: 60%;
}
/* #img_preview{
    float: right;
} */